<div class="h-full flex flex-col">
  <!-- Logo -->
  <mat-toolbar color="primary" class="flex-none">
    <span class="text-xl font-bold transition-opacity duration-300" [class.opacity-0]="isCollapsed">Dashboard</span>
  </mat-toolbar>

  <!-- Navigation -->
  <mat-nav-list class="flex-1">
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngIf="!item.adminOnly || (profile$ | async)?.role === 'admin'">
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: item.exact || false}"
           (click)="menuItemClick.emit()"
           class="sidebar-item">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle class="transition-opacity duration-300" [class.opacity-0]="isCollapsed">{{item.label}}</span>
        </a>
      </ng-container>
    </ng-container>

    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
