<mat-toolbar class="bg-white shadow-sm">
  <!-- Toggle Sidebar Button (chỉ hiển thị khi đã đăng nhập) -->
  <button *ngIf="isLoggedIn" mat-icon-button class="toggle-button" (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex-1"></div>

  <!-- Theme Toggle Button -->
  <ui-theme-toggle-button class="mr-2"></ui-theme-toggle-button>

  <!-- Login Button or User Menu -->
  <ng-container *ngIf="isLoggedIn && currentUser; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <div class="flex items-center">
        <img width="32" height="32" [src]="currentUser.profilePicture || 'images/avt-default.png'" class="rounded-full"
          [alt]="currentUser.fullName || currentUser.username">
        <p class="text-gray-700 mx-2">{{ currentUser.fullName || currentUser.username }}</p>
      </div>
    </button>

    <!-- User Menu Dropdown -->
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/auth/profile">
        <mat-icon>person</mat-icon>
        <span>Hồ sơ</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </mat-menu>
  </ng-container>

  <!-- Login Button Template -->
  <ng-template #loginButton>
    <a mat-raised-button color="primary" routerLink="/auth/login" class="login-button">
      <mat-icon class="mr-2">login</mat-icon>
      Đăng nhập
    </a>
  </ng-template>
</mat-toolbar>
